/ProjectMC/*.sln.ide
/ProjectMC/*.suo
/ProjectMC/*.opensdf
/ProjectMC/*.sdf
/ProjectMC/.vs/*
/ProjectMC/TestResults
/ProjectMC/Content/Thumbs.db
/ProjectMC/MC.*/bin
/ProjectMC/MC.*/obj
/ProjectMC/MC.*/*.user
/ProjectMC/MC.Windows/Assets/Thumbs.db
/ProjectMC/Web.*/bin
/ProjectMC/Web.*/obj
/ProjectMC/Web.*/*.user
Thumbs.db
