/ProjectMC/*.sln.ide
/ProjectMC/*.suo
/ProjectMC/MC.Android/bin
/ProjectMC/MC.Android/obj
/ProjectMC/MC.Android/*.user
/ProjectMC/MC.Apple/bin
/ProjectMC/MC.Apple/obj
/ProjectMC/MC.Apple/*.user
/ProjectMC/MC.Common/bin
/ProjectMC/MC.Common/obj
/ProjectMC/MC.Common/*.user
/ProjectMC/MC.Common.Test/bin
/ProjectMC/MC.Common.Test/obj
/ProjectMC/MC.Common.Test/*.user
/ProjectMC/MC.Console/bin
/ProjectMC/MC.Console/obj
/ProjectMC/MC.Console/*.user
/ProjectMC/MC.Core/bin
/ProjectMC/MC.Core/obj
/ProjectMC/MC.Core/*.user
/ProjectMC/MC.Core.Test/bin
/ProjectMC/MC.Core.Test/obj
/ProjectMC/MC.Core.Test/*.user
/ProjectMC/MC.Desktop/bin
/ProjectMC/MC.Desktop/obj
/ProjectMC/MC.Desktop/*.user
/ProjectMC/MC.Game/bin
/ProjectMC/MC.Game/obj
/ProjectMC/MC.Game/*.user
/ProjectMC/MC.MockServer/bin
/ProjectMC/MC.MockServer/obj
/ProjectMC/MC.MockServer/*.user
/ProjectMC/MC.MockServer.Test/bin
/ProjectMC/MC.MockServer.Test/obj
/ProjectMC/MC.MockServer.Test/*.user
/ProjectMC/MC.Windows/bin
/ProjectMC/MC.Windows/obj
/ProjectMC/MC.Windows/*.user
/ProjectMC/MC.WP/bin
/ProjectMC/MC.WP/obj
/ProjectMC/MC.WP/*.user
