/ProjectMC/*.sln.ide
/ProjectMC/TestResults
/ProjectMC/*.suo
/ProjectMC/.vs/*
/ProjectMC/MC.*/bin
/ProjectMC/MC.*/obj
/ProjectMC/MC.*/*.user
/ProjectMC/Web.*/bin
/ProjectMC/Web.*/obj
/ProjectMC/Web.*/*.user
