<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights schemaVersion="2014-05-30" xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- このキーはリソース グループ 'Default-ApplicationInsights-CentralUS' のApplication Insights のリソース 'MC.WP' に対応するものです -->
  <InstrumentationKey>a8bb6322-b689-406f-a0c1-7a74f1a9b0d9</InstrumentationKey>
</ApplicationInsights>